{
  "extends": "spruce",
  "rules": {
    "no-unused-vars": ["error", { "argsIgnorePattern": "(^ctx$)" }]
  },
  "globals": {
    "log": true,
    "window": true,
    "config": true,
    "navigator": true
  }
}
